<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Arimo-Bold.ttf</string>
		<string>Arimo-Italic.ttf</string>
		<string>Arimo-Regular.ttf</string>
		<string>Arimo-SemiBoldItalic.ttf</string>
		<string>Arimo-MediumItalic.ttf</string>
		<string>Arimo-Medium.ttf</string>
		<string>Arimo-SemiBold.ttf</string>
		<string></string>
	</array>
</dict>
</plist>
